<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODAMYM — Páginas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=DM+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/tailwind-compiled.css">
</head>

<body class="font-dm bg-[#F4F6F8] text-[#101828] overflow-x-hidden">

    <!-- ══════════════════════════════════════
     LOGIN PAGE
══════════════════════════════════════ -->
    <div class="min-h-screen grid grid-cols-1 lg:grid-cols-[1fr_1fr_1fr]">

        <!-- ── Painel Esquerdo── -->
        <div class="bg-white flex items-center justify-center p-8 md:p-12 transition-all slide activeSlide">
            <div class="w-full max-w-105">

                <h1 class="font-playfair text-[28px] md:text-[32px] font-bold text-[#101828] mb-2">Insira o email
                </h1>
                <p class="text-[#6A7282] text-[14.5px] leading-[1.6] mb-9">
                    Coloque o email por onde será enviado o código
                </p>

                <!-- Divider -->
                <div class="flex items-center gap-3 my-6">
                    <div class="flex-1 h-px bg-[#E5E7EB]"></div>
                    <div class="flex-1 h-px bg-[#E5E7EB]"></div>
                </div>

                <!-- Email -->
                <div class="mb-5">
                    <label for="email" class="block text-[13px] font-semibold text-[#101828] mb-2">
                        Email</label>
                    <input type="email" id="email" placeholder="seu@email.com" required class="w-full bg-[#F4F6F8] border-[1.5px] border-[#E5E7EB] rounded-xl
                           px-4 py-3.25 text-[14px] text-[#101828] outline-none font-dm
                           placeholder:text-[#99A1AF]
                           transition-colors duration-200
                           focus:border-[#1f1f1f] focus:bg-white">
                </div>

                <button onclick="finishSlide() " class="w-1/2 flex m-auto items-center justify-center gap-2.5
                         text-black border-2 rounded-xl
                           px-7 py-3.75 text-[15px] font-semibold font-dm cursor-pointer
                           transition-all duration-200
                            hover:-translate-y-px ">
                    Enviar código
                </button>

            </div>
        </div>

        <!-- ── Painel Meio ── -->
        <div class="bg-white flex items-center justify-center p-8 md:p-12 transition-all slide disableSlide">
            <div class="w-full max-w-105">

                <h1 class="font-playfair text-[28px] md:text-[32px] font-bold text-[#101828] mb-2">Verificação do email
                </h1>
                <p class="text-[#6A7282] text-[14.5px] leading-[1.6] mb-9">
                    Coloque o código enviado no seu email
                </p>

                <!-- Divider -->
                <div class="flex items-center gap-3 my-6">
                    <div class="flex-1 h-px bg-[#E5E7EB]"></div>
                    <div class="flex-1 h-px bg-[#E5E7EB]"></div>
                </div>

                <!-- Code -->
                <div class="mb-5">
                    <label for="code" class="block text-[13px] font-semibold text-[#101828] mb-2">Insira o
                        código</label>
                    <input type="text" maxlength="6" id="code" placeholder="XXXXXX" required class="w-full bg-[#F4F6F8] border-[1.5px] border-[#E5E7EB] rounded-xl
                           px-4 py-3.25 text-[14px] text-[#101828] outline-none font-dm
                           placeholder:text-[#99A1AF]
                           transition-colors duration-200
                           focus:border-[#1f1f1f] focus:bg-white">
                </div>

                <button onclick="finishSlide() " class="w-7/12 flex m-auto items-center justify-center gap-2.5
                         text-black border-2 rounded-xl
                           px-7 py-3.75 text-[15px] font-semibold font-dm cursor-pointer
                           transition-all duration-200
                            hover:-translate-y-px ">
                    Verificar código
                </button>
            </div>
        </div>

        <!-- ── Painel Direito ── -->
        <div class="bg-white flex items-center justify-center p-8 md:p-12 transition-all slide disableSlide">
            <div class="w-full max-w-105">

                <h1 class="font-playfair text-[28px] md:text-[32px] font-bold text-[#101828] mb-2 w-max">Recuperação de senha
                </h1>
                <p class="text-[#6A7282] text-[14.5px] leading-[1.6] mb-9">
                    Insira a sua nova senha
                </p>

                <!-- Divider -->
                <div class="flex items-center gap-3 my-6">
                    <div class="flex-1 h-px bg-[#E5E7EB]"></div>
                    <div class="flex-1 h-px bg-[#E5E7EB]"></div>
                </div>

                <!-- Code -->
                <div class="mb-5">
                    <label for="password" class="block text-[13px] font-semibold text-[#101828] mb-2">Senha</label>
                    <input type="password" id="password" placeholder="Senha" required class="w-full bg-[#F4F6F8] border-[1.5px] border-[#E5E7EB] rounded-xl
                           px-4 py-3.25 text-[14px] text-[#101828] outline-none font-dm
                           placeholder:text-[#99A1AF]
                           transition-colors duration-200
                           focus:border-[#1f1f1f] focus:bg-white mb-5">
                    <input type="password" id="verifyPassword" placeholder="Verificar senha" required class="w-full bg-[#F4F6F8] border-[1.5px] border-[#E5E7EB] rounded-xl
                           px-4 py-3.25 text-[14px] text-[#101828] outline-none font-dm
                           placeholder:text-[#99A1AF]
                           transition-colors duration-200
                           focus:border-[#1f1f1f] focus:bg-white">
                </div>

                <button onclick="finishSlide() " class="w-7/12 flex m-auto items-center justify-center gap-2.5
                         text-black border-2 rounded-xl
                           px-7 py-3.75 text-[15px] font-semibold font-dm cursor-pointer
                           transition-all duration-200
                            hover:-translate-y-px ">
                    Ir para login
                </button>
            </div>
        </div>
    </div>

    <%- include('../../components/footer.ejs') -%>

        <script>
            let currentSlide = 0;

            function finishSlide() {
                const slides = document.querySelectorAll('.slide');

                // Remove activeSlide do atual, adiciona disableSlide
                slides[currentSlide].classList.remove('activeSlide');
                slides[currentSlide].classList.add('disableSlide');

                // Avança o índice
                currentSlide++;

                // Ativa o próximo
                if (slides[currentSlide]) {
                    slides[currentSlide].classList.remove('disableSlide');
                    slides[currentSlide].classList.add('activeSlide');
                }
            }
        </script>
</body>

</html>